#navbar{
    display: flex;
}

.hamburger{
    display:none;
}
@media (max-width : 800px) {
    #nav-content{
        display: none !important;
    }
    .hamburger{
        display:block;
        width:10vh;
        height:10vh;
    }
}