
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app{
  background-image: url(/Images/vector-AUG-2021-54.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #000;
}
::-webkit-scrollbar-thumb{
  background:#978cdb;
}
